<ul>
  <li class="muscat_icon_link">
    <a data-scroll-target="action" data-action="exit" href="#" class="muscat_icon_link muscat_icon_link_save_exit"><%=(I18n.t :save_and_continue)%></a>
  </li>
  <li class="muscat_icon_link">
    <a data-scroll-target="show_toplevel" data-panel="marc_editor_panel" href="#" class="muscat_icon_link muscat_icon_link_validate"><%=(I18n.t :show_validate)%></a>
  <li class="muscat_icon_separator"></li>
  <li class="muscat_icon_link">
    <a href="/admin/gnd_works" class="muscat_icon_link muscat_icon_link_cancel"><%=(I18n.t :cancel)%></a>
  </li>
</ul>
<ul>
<li class="muscat_icon_link" id="validation_errors" hidden>
  <span style="color:red"><%= I18n.t(:validation_level_error)%></span>
</li>
<li class="muscat_icon_link" id="validation_warnings" hidden>
  <span style="color:orange"><%= I18n.t(:validation_level_warning)%></span>
</li>
</ul>