<b>Source <%= @source_id %> did not pass validation</b><br><br>

<% if !@failed %>
  <table>
  <% @errors.each do |tag, subtags| %>
    <% subtags.each do |subtag, messages|  %>
      <% messages.each do |message|  %>
      <tr>
        <td><stronf><%= tag %></strong></td>
        <td><%= subtag %></td>
        <td><i><%= message %></i></td>
      </tr>
      <% end %>
    <% end %>
  <% end %>
  </table>

<%else%>
  <%= @failed.message %>
  <%= @failed.backtrace.join("<br>") %>
<%end%>