<div class='panel panel-default'>
  <div class="panel-heading"><%= I18n.t('blacklight_advanced_search.help.title') %></div>
  <div class="panel-body">
    <ul class="advanced-help">
     <li><%= I18n.t('blacklight_advanced_search.help.line1') %>
     </li>

     <li><%= I18n.t('blacklight_advanced_search.help.line2') %>
     </li>

     <li><%= I18n.t('blacklight_advanced_search.help.line3') %>
     </li>

     <li><%= I18n.t('blacklight_advanced_search.help.line4') %>
     
     <li><%= I18n.t('blacklight_advanced_search.help.line5') %></li>
     
     <li><%= I18n.t('blacklight_advanced_search.help.line6') %> 

     <li><%= I18n.t('blacklight_advanced_search.help.line7') %> </li>
     <li><%= I18n.t('blacklight_advanced_search.help.line8') %></li>
   </ul>
  </div>
</div>