      <div class="sort-buttons pull-left">    
        <%= label_tag(:sort, t('blacklight_advanced_search.form.sort_label'), :class => "control-label") %>
      
        <%= select_tag(:sort, options_for_select(muscat_translate(sort_fields), h(current_sort_field && current_sort_field.key)), :class => "form-control sort-select") %>
        <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>
      </div>

      <div class="submit-buttons pull-right">
        <%= link_to t('blacklight_advanced_search.form.start_over'), blacklight_advanced_search_engine.advanced_search_path, :class =>"btn btn-default advanced-search-start-over" %>

        <%= submit_tag t('blacklight_advanced_search.form.search_btn'), :class=>'btn btn-primary advanced-search-submit', :id => "advanced-search-submit" %>
      </div>
