<%- group_tags = item.marc.by_tags(group[:tags]) %>

<% unless group_tags.empty? -%>

	<div class="panel">
		<h3><%= group[:title] %></h3>
		<div class="panel_contents">
			<div class="attributes_table">
				<table border="0" cellpadding="0" cellspacing="0">

				<!-- tags without $3 -->
				<%- material = @item.marc.config.tags_with_subtag("3") %>
				<%- other_tags = item.marc.by_tags(group[:tags] - material) %>
				<%= render :partial => "marc_show/show_tags", :locals => { :tags => other_tags, :templates => group[:tag_templates] } %>
	
				<!-- tags with empty $3 -->	
				<%- material_tags = item.marc.by_tags_with_subtag(material & group[:tags], "3", "") %>
				<%= render :partial => "marc_show/show_tags", :locals => { :tags => material_tags, :templates => group[:tag_templates] } %>	
	
				<!-- tags with "Material X" $3 -->
				<%- (1..10).each do |m| %>
					<%- material_tags = item.marc.by_tags_with_subtag(material & group[:tags], "3", "Material #{m}") %>
					<% unless material_tags.empty? -%>
						<tr class="row">
							<td colspan="2"><%= "Material #{m}" %></td>				    
						</tr>
						<%= render :partial => "marc_show/show_tags", :locals => { :tags => material_tags, :templates => group[:tag_templates] } %>		
					<% end -%>
				<% end -%>
				</table>
			</div>
		</div>
	</div>
	
<% end -%>