<% if @item.parent_source || @item.child_sources.count > 0 %>
	<div class="panel">
		<h3><%= group[:title] %></h3>
		<div class="panel_contents">
			<div class="attributes_table">
			<% if @item.parent_source %>
				<table border="0" cellpadding="0" cellspacing="0">
					<tr class="row">
						<th>
							<%= @editor_profile.get_sub_label("773", "w") %>
						</th>
						<td valign="top">
							<% if opac %>
								<%= link_to @item.parent_source.id.to_s, solr_document_path(@item.parent_source.id.to_s)%>
							<% elsif is_selection_mode? %>
								<%= @item.parent_source.id.to_s%>
							<% else %>
								<%= application_helper_link_source_id(@item.parent_source.id, "", opac).html_safe %>
							<% end %>
							<%= " #{@item.parent_source.composer}" if @item.parent_source.composer != "" %><%= ": " if (@item.parent_source.composer != "" && @item.parent_source.std_title)%><i><%= "#{@item.parent_source.std_title}" if @item.parent_source.std_title %></i>
						</td>
					</tr>
				</table>
			<% end %>
			<% if @item.child_sources.count > 0 %>
				<table border="0" cellpadding="0" cellspacing="0">
				<% count = 0 %>
				<% @item.marc.each_by_tag("774") do |link| %>
				<% link_id = link.fetch_first_by_tag("w") %>
				<% next if !link_id || !link_id.content %>
				<% child = @item.child_sources.select {|cs| cs.id == link_id.content.to_i}[0]%>
				<% if child%>
					<tr class="row">
						<th>
							<%= count == 0 ? @editor_profile.get_label("774") : "&nbsp;".html_safe %>
						</th>
						<td>
							<% if opac %>
								<%= link_to child.id.to_s, solr_document_path(child.id.to_s)%>
							<% elsif is_selection_mode? %>
								<%= child.id.to_s%>
							<% else %>
								<%= application_helper_link_source_id(child.id, "", opac).html_safe %>
							<% end %>
							<%= " #{child.composer}" if child.composer != "" %><%= ": " if (child.composer != "" && child.std_title != "") %><i><%= "#{child.std_title}" if child.std_title != "" %></i>
						</td>
					</tr>
				<%else%>
				<tr class="row">
					<th>&nbsp;</th>
					<td>
						<%= link_id.content %>: DB link does not exist to this item
					</td>
				</tr>
				<%end%>
				<% count = count + 1 %>
				<% end %>
				</table>
			<% end %>
			</div>
		</div>
	</div>
<% end %>