<%
	subfield_u = tag.fetch_first_by_tag('u')
	subfield_x = tag.fetch_first_by_tag('x')	
	subfield_z = tag.fetch_first_by_tag('z')	
	link = ((subfield_u && subfield_u.content) ? subfield_u.content : "[unset]")
	display = ((subfield_z && subfield_z.content) ? subfield_z.content : link)

-%>
<tr class="row">
	<th>
		<% if (no_label == false) -%>
			<%= @editor_profile.get_label(tag.tag) %>
		<%- end %>
	</th>
	<td>
		<% if subfield_x && subfield_x.content && subfield_x.content == "IIIF"%>
			<%
			link = make_iiif_anchor(link)
			%>
			<%= link_to(display, "#" + link) %><%= " [#{subfield_x.content.html_safe}]" if (subfield_x && subfield_x.content) %>
		<% else %>
			<%= link_to(display, link, :target => "_blank") %><%= " [#{subfield_x.content.html_safe}]" if (subfield_x && subfield_x.content) %>
		<% end %>
	</td>
</tr>