<%-
	random_string = SecureRandom.hex

	number_a = tag.fetch_first_by_tag('a')
	number_b = tag.fetch_first_by_tag('b')	
	number_c = tag.fetch_first_by_tag('c')	

	pae_subfield = tag.fetch_first_by_tag('p')
	last_tag = ""
	skip = ["a", "b", "c", "g", "n", "o", "p"]	

	## ! for testing, reatime rendering with verovio
	 incipit_number = "#{(number_a ? number_a.content : "x")}.#{(number_b ? number_b.content : "x")}.#{(number_c ? number_c.content : "x")}"
	 	 incipit_number_for_id = "#{(number_a ? number_a.content : "x")}#{(number_b ? number_b.content : "x")}#{(number_c ? number_c.content : "x")}"
	 image_render_div = "incipit_#{incipit_number_for_id}#{@item.id}"
%>

<tr class="row">
	<th><%= @editor_profile.get_sub_label(tag.tag, "a") %></th>
	<td><%= incipit_number %></td>
</tr>

<% tag.children do |subfield| -%>
	<% next if (skip.include?(subfield.tag) || !@item.marc.config.show_in_browse?(tag.tag, subfield.tag)) -%>
	<%= render :partial => "marc/show_subfield", :locals => { :tag => tag, :subfield => subfield, 
		:no_label => (last_tag == tag.tag + subfield.tag) } %>
	<%- last_tag = tag.tag + subfield.tag %>
<% end -%>

<% label = [:g, :n, :o, :p].collect {|s|
		subfield = tag.fetch_first_by_tag(s)
		next unless subfield
		"<b>#{@editor_profile.get_sub_label(tag.tag, subfield.tag)}</b>: #{subfield.content}".html_safe
	}.join(", ")
%>

<%
	# Loop through the digital objects to see if we have a MEI incipit
	# MEI incipits have the priority over normal ones 
	mei_incipit = nil
	@item.digital_objects.where(attachment_type: 1).each do |obj|
		mei_incipit = obj.attachment.url if obj.description.include?(incipit_number)
	end
%>

<% if mei_incipit %>
		<tr class="row">
		<td></td>
		<td>
			<%= link_to "Download MEI File", mei_incipit.html_safe%>
			<div id="<%= image_render_div %>">Loading... <img src="/images/spinner_small.gif" /></div>
		</td>
	<tr>
	<script type="text/javascript">
		render_music("<%=mei_incipit%>", "mei", $("#" + "<%=image_render_div%>"), 600);
	</script>
<% else %>
	<%	if (pae_subfield && pae_subfield.content ) %>
	<tr class="row">
		<td></td>
		<td>
			<a onclick="javascript:show_hide_pae('<%=random_string%>');">PAE Code</a>
			<span id="<%= random_string %>"  style="display:none">&nbsp;<%= label.html_safe %></span>
			<div id="<%= image_render_div %>" />
		</td>
	<tr>
	<%-
	tag_g = tag.fetch_first_by_tag(:g)
	clef = (tag_g && tag_g.content) ? tag_g.content.html_safe : ""
	
	tag_r = tag.fetch_first_by_tag(:r)
	key_or_mode = (tag_r && tag_r.content) ? tag_r.content.html_safe : ""

	tag_n = tag.fetch_first_by_tag(:n)
	key = (tag_n && tag_n.content) ? tag_n.content.html_safe : ""

	tag_o = tag.fetch_first_by_tag(:o)
	time = (tag_o && tag_o.content) ? tag_o.content.html_safe : ""

	tag_p = tag.fetch_first_by_tag(:p)
	notation = (tag_p && tag_p.content) ? tag_p.content.html_safe : ""

	%>

	<script type="text/javascript">

		pae = "@start:pae-file\n";
		pae = pae + "@clef:<%= clef %>\n";
		pae = pae + "@keysig:<%= key %>\n";
		pae = pae + "@key:<%= key_or_mode %>\n";
		pae = pae + "@timesig:<%= time %>\n";
		pae = pae + "@data: <%= notation %>\n";
		pae = pae + "@end:pae-file\n"
		render_music(pae, 'pae', $("#" + "<%=image_render_div%>"));

		function show_hide_pae(id) {
			row = $("#" + id)
			if (row.is(":hidden")) {
				row.show();
			} else {
				row.hide();
			}
		}

	</script>
		
	<% end -%>
<% end %>