<% if @holdings && @holdings.count > 0%>
<div class="panel tab_panel" name="Holding_Records">
	<h3><%=I18n.t(:holding_records)%></h3>
	<div>
		<table border="0" cellspacing="0" cellpadding="0" class="index_table index">
			<tr>
				<th>ID</th>
				<th><%=I18n.t(:lib_siglum)%></th>
			</tr>
		<% @holdings.each do |h| %>
			<tr class="<%= cycle('even', 'odd') -%>">
				<td class="col"><%= link_to(h.id, edit_admin_holding_path(h.id ))%></td>
				<td class="col"><%= h.lib_siglum %></td>
			</tr>
		<% end %>
		</table>
	</div>
</div>
<%end%>