<% if @holdings && @holdings.count > 0%>
<div class="panel tab_panel" style="display: none;" name="Holding_Records">
	<h3><%=I18n.t(:holding_records)%></h3>
	<div>
		<table border="0" cellspacing="0" cellpadding="0" class="index_table index">
			<tr>
				<th>ID</th>
				<th><%=I18n.t(:lib_siglum)%></th>
			</tr>
		<% @holdings.each do |h| %>
			<tr class="<%= cycle('even', 'odd') -%>">
				<td class="col">
					<% if can?(:destroy, h)%>
						<%= h.id %> - <%= link_to I18n.t('delete'), admin_holding_path(h.id), method: :delete, data: { confirm: I18n.t('active_admin.delete_confirmation') }%>
						<% else %>
							<%= h.id %>
						<% end %>
				</td>
				<td class="col"><%= link_to(h.lib_siglum, edit_admin_holding_path(h.id )) %></td>
			</tr>
		<% end %>
		</table>
	</div>
</div>
<%end%>
