<ul>
	<li><%= link_to( I18n.t("activerecord.models.source", count: 2), :model => "Source") %></li>
    <li><%= link_to( I18n.t("activerecord.models.institution", count: 2), :model => "Institution") %></li>
    <li><%= link_to( I18n.t("activerecord.models.catalogue", count: 2), :model => "Catalogue") %></li>
    <li><%= link_to( I18n.t("activerecord.models.person", count: 2), :model => "Person") %></li>
    <li><%= link_to( I18n.t("activerecord.models.work", count: 2), :model => "Work") %></li>
</ul>
