<div class="col-md-9">   

<% if @model != nil -%>
    <%- @marc_config = MarcConfigCache.get_configuration @model_name %>
    <%- @editor_config = EditorConfiguration.get_applicable_layout(@model) %>  
    <%- @marc_config.each_data_tag do |tag| %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%= tag %></h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <%- RISM::LOCALES.each do |lang| %>
                        <%- I18n.locale = lang[0] %>
                        <tr>
                            <th><%= lang[1].html_safe %></th>
                            <td><%= @editor_config.get_label(tag).html_safe -%></td>
                        </tr>
                    <% end -%>
                </table>
                <table class="table">
                    <tr>
                        <th>Repeatable</th>
                        <th>Master</th>
                        <th>Indicators</th>
                        <th>Default</th>
                    </td>
                    <tr>
                        <td><%= @marc_config.multiples_allowed?(tag) -%></td>
                        <td><%= @marc_config.get_master(tag) -%></td>
                        <td><%= @marc_config.each_indicator(tag) { |i| i } -%></td>
                        <td><%= @marc_config.get_default_indicator(tag) -%></td>
                    </tr>
                </table>
                <table class="table">
                    <%- @marc_config.each_subtag(tag) do |subtag| %>
                        <%= render :partial => "subfield", :locals => { :tag => tag, :subtag => subtag } -%>
                    <% end -%>
                </table>
            </div>
        </div>
    <% end -%>
<% else -%>
	<strong>Please select a valid model</strong>
<% end -%>

</div>


<div class="col-sm-12 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Models</h3>
        </div>
        <div class="panel-body">
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
            <%#= render "mei_more" %>
        </div>
    </div>
    
</div>