<div id="content" class="col-md-12">
<h3><%=t('blacklight.search_history.title')%></h3>
<%- if @searches.blank? -%>
  <h2><%=t('blacklight.search_history.no_history')%></h2>
<%- else -%>
    <%= link_to t('blacklight.search_history.clear.action_title'), blacklight.clear_search_history_path, :method => :delete, :data => { :confirm => t('blacklight.search_history.clear.action_confirm') }, :class => 'btn btn-danger pull-right' %>
  <table class="table table-striped search_history">
    <%-  @searches.each_with_index do |search,index| -%>
    <%= content_tag :tr, :id => "document_#{index + 1}" do %>
      <td class="query"><%= link_to_previous_search(search.query_params) %></td>
    <% end #content_tag %>
  <%- end -%>
  </table>
<%- end -%>
</div>
