<head>
  <%= stylesheet_link_tag 'active_admin' %>
  <%= javascript_include_tag "application" %>
</head>

<body>
<div id="rism_export">
<table class="srutable">

<% if @model == 'sources' %>
  <tr>
  <th>ID</th>
  <th>Composer</th>
  <th>Title</th>
  <th>Scoring</th>
  <th>Sigla</th>
  <th>Shelfmark</th>
  </tr>
  <% @result.hits.each do |hit| %>
    <% xml = Nokogiri::XML(hit.result.marc.to_xml(nil, nil, true)) %>
    <% template =  Nokogiri::XSLT(File.read('public/xml/sources2html.xsl')) %>
    <% html_record = template.transform(xml) %>
    <%= html_record.to_s.html_safe %>
  <% end %>

<% elsif @model == 'people' %>
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Life dates</th>
  <th>Profession</th>
  <th>VIAF</th>
</tr>
  <% @result.hits.each do |hit| %>
    <% xml = Nokogiri::XML(hit.result.marc.to_xml(nil, nil, true)) %>
    <% template =  Nokogiri::XSLT(File.read('public/xml/people2html.xsl')) %>
    <% html_record = template.transform(xml) %>
    <%= html_record.to_s.html_safe %>
  <% end %>

<% else %>
  <tr>
  <th>ID</th>
  <th>Name</th>
  <th>-</th>
  <th>-</th>
</tr>
  <% @result.hits.each do |hit| %>
    <% xml = Nokogiri::XML(hit.result.marc.to_xml(nil, nil, true)) %>
    <% template =  Nokogiri::XSLT(File.read('public/xml/marc2html.xsl')) %>
    <% html_record = template.transform(xml) %>
    <%= html_record.to_s.html_safe %>
  <% end %>
<% end %>
</table> 

<%= render :partial => 'html_pager' %>

<div style="float: right;">
  <!-- <a href="#" class="csv_export" datatable="rism_export">Download as CSV/Excel</a><br> -->
  <%= link_to("Download as CSV", url_for( request.params.merge({"x-action" => "csv"}) )) %> <br>
  <%= link_to("Download as XML", url_for( request.params.merge({"x-action" => "download"}) )) %>
</div>

</div>
<%#= "Number of results: #{@result.total}" %>
</body>
