<select data-tag="<%=tag_name%>" data-subfield="<%=subfield%>" data-subfield-iterator="<%=s_iterator%>" class="serialize_marc">
	<option value="">[unspecified]</option>
	<%- (1..10).each do |m| %>
	    <%- mat = "Material #{m}" %>
		<option value="<%= mat -%>" <%= (mat == marc_subfield.content) ? "selected=\"selected\"".html_safe : "" -%>><%= mat -%></option>
	<%- end %>
</select>
