<%	tag_params = @editor_profile.options_config[tag_name]["tag_params"] %>

<input type="text" disabled="disabled" class="serialize_marc single_select_target" data-tag="<%=tag_name%>" data-subfield="<%=subfield%>" value="<%= h marc_subfield.content %>">

<select class="single_relator_select marc_editor_hotkey" width="100">
	<option value="-">--- Select ---</option>
	<%- tag_params["groups"].sort.map do |key, values| %>
     <optgroup label="<%= @editor_profile.get_label(key) -%>">
        <%- values.each do |code| %>
          <option value="<%= code -%>"><%= @editor_profile.get_label(code) -%></option>	
			<%- end %>
		</option>	
	<%- end %>
</select>
