<%	tag_params = @editor_profile.options_config[tag_name]["tag_params"] %>

<input type="text" disabled="disabled" class="serialize_marc cascade_select_target" data-tag="<%=tag_name%>" data-subfield="<%=subfield%>" value="<%= h marc_subfield.content %>">

<select class="top_cascade_select marc_editor_hotkey" width="100">
	<option value="-">--- Select ---</option>
	<%- tag_params["groups"].keys.sort.each do |key| %>
    	<option value="<%= key -%>"><%= @editor_profile.get_label(key) -%></option>	
	<%- end %>
</select>

<select class="bottom_cascade_select marc_editor_hotkey" width="100">
	<option value="-">---</option>
</select>