<%
	val = marc_subfield.content ? marc_subfield.content : ""

	if @editor_validation && @editor_validation.validate_subtag?(tag_name, subfield, @item)
		validate_class, unique_name = @editor_validation.get_subtag_class_name(tag_name, subfield)
		name_tag = raw "name=\"#{unique_name}\""
		validate_marker = "validating"
		validate_level = "warning" if @editor_validation.is_warning?(tag_name, subfield)
	else
		validate_class = ""
	end

%>

  <% if params["unrestricted"] && !(params["unrestricted"] & current_user.roles.pluck(:name)).empty?
           restricted = ""
        else
           restricted = @restricted
        end 
  %>

  <select class="subfield_entry serialize_marc marc_editor_hotkey <%=validate_class%> <%=validate_marker%> " width="100" <%=restricted %> <%=name_tag%> data-tag="<%=tag_name%>" data-subfield="<%=subfield%>" data-validate-level="<%=validate_level%>">
		<option value="">--- Select ---</option>
    <%if !params['values'].include?( marc_subfield.content ) && marc_subfield.content %>
      	<option value="<%= marc_subfield.content %>" selected><%= marc_subfield.content%></option>
    <%end%>
      <%- params["values"].each do |value| %>
        <%- if val.empty? && params["default"] %>
          <option value="<%= value -%>"<%= (value == params["default"]) ? "selected=\"selected\"".html_safe : "" -%>><%= value -%></option>	
        <%- else %>
          <option value="<%= value -%>"<%= (value == marc_subfield.content) ? "selected=\"selected\"".html_safe : "" -%>><%= value -%></option>	
        <%- end %>
		<%- end %>
	</select>