<%- has_links_to = params.has_key?("has_links_to") ? params['has_links_to'] : false %>
<%- master = has_links_to ? subfield : @item.marc.config.get_master(tag_name) %>
<% if has_links_to == true
	marc_subfield_m = marc_subfield || MarcNode.new(@item.marc.get_model)
else
	marc_subfield_m = marc_tag.fetch_first_by_tag(master) || MarcNode.new(@item.marc.get_model)
end %>

<%- no_new = params.include?("no_new") ? params["no_new"] : false %>
<%- ac_path = send(params['type'] + "_default_autocomplete")%>
<%- field = params.has_key?("field") ? params['field'] : "id" %>
<%- allow_new = params.has_key?("allow_new") ? params['allow_new'] : false %>

<%- disabled =  params.has_key?("only_new_window") ? true : false %>
<!-- validation plugin REQUIRES a name. Make it random as we never call it elsewhere -->
<%- check_name = "confirmation_uniq_" + SecureRandom.hex(5)%>

<% 
# Validate on the MASTER subfield, because it can be different from the DISPLAY subfiled!
# NOTE Secondary subfields DO NOT SUPPORT WARNINGS.
if @editor_validation && @editor_validation.validate_subtag?(tag_name, master, @item)
	validate_class_master, unique_name_master = @editor_validation.get_subtag_class_name(tag_name, master)
	name_tag_master = raw "name=\"#{unique_name_master}\""
else
	validate_class_master = ""
	name_tag_master = ""
end

if @editor_validation && @editor_validation.validate_subtag?(tag_name, master, @item)
	validate_class_subfield, name_tag_subfield = @editor_validation.get_subtag_class_name(tag_name, subfield)
	validate_marker = "validating"
else
	validate_class_subfield = ""
	name_tag_subfield = "#{tag_name}#{subfield}"
	validate_marker = ""
end
name_tag_subfield = "#{tag_name}#{subfield}"
%>

<input type="hidden" class="autocomplete_target serialize_marc <%=validate_class_master%>" data-tag="<%=tag_name%>" data-subfield="<%=master%>" data-field="<%=field%>" value="<%=marc_subfield_m.content %>" <%=name_tag_master%> data-allow-new="<%=allow_new%>" data-has-links-to="<%=has_links_to%>">

<%
options = {
	:size => 75, 
	:class => "marc_editor_hotkey autocomplete_new_window #{validate_class_subfield} #{validate_marker}", 	:"data-subfield"=>"#{subfield}",
	:"data-field"=>"#{tag_name}",
	:"min-length" => 1
}
	options[:disabled] = "disabled" if disabled || @restricted=='disabled'
%>


<%= autocomplete_field_tag "#{tag_name}#{subfield}", marc_subfield.looked_up_content, ac_path, options %>

<div class="checkbox_confirmation" style="display: none;">
	<input class="creation_checkbox" type="checkbox" data-check="false" name="<%=check_name%>"/>
	<span id="<%=check_name%>-label">Confirm the insertion of a new value</span>
</div>
