<%-	

data = []

params['values'].each do |val|
	data << {label: val, value: val}
end 

validate_class = ""
if @editor_validation && @editor_validation.validate_subtag?(tag_name, subfield)
	validate_class, unique_name = @editor_validation.get_subtag_class_name(tag_name, subfield)
	name_tag = raw "name=\"#{unique_name}\""
end

%>

<div data-autocomplete-values="<%= data.to_json %>"></div>

<%- if (params['width']==100 || params['growfield'])  %>
	<textarea rows="1" cols="100" class="subfield_entry serialize_marc inline-autocomplete marc_editor_hotkey <%=validate_class%>" data-tag="<%=tag_name%>" data-subfield="<%=subfield%>" rows="1" <%=name_tag%> ><%= h marc_subfield.content %></textarea>
<%- else %>
	<input class="subfield_entry serialize_marc inline-autocomplete marc_editor_hotkey <%=validate_class%>" size="100" type="text" data-tag="<%=tag_name%>" data-subfield="<%=subfield%>" value="<%= h marc_subfield.content %>" <%=name_tag%> />
<%- end %>
