<%-	

autocomplete_data_or_path = []

if params.include?("values")
	params['values'].each do |val|
		autocomplete_data_or_path << {label: val, value: val}
	end 
end

if params.include?("type")
	autocomplete_data_or_path = send(params['type'] + "_default_autocomplete")
end

validate_class = ""
if @editor_validation && @editor_validation.validate_subtag?(tag_name, subfield, @item)
	validate_class, unique_name = @editor_validation.get_subtag_class_name(tag_name, subfield)
	name_tag = raw "name=\"#{unique_name}\""
	validate_marker = "validating"
	validate_level = "warning" if @editor_validation.is_warning?(tag_name, subfield)	
end

	#autocomplete_extra_class = ""
	#disabled_by_autocomplete = ""
	#autocomplete_extra

# we can have the "regular" subfield secondary
# add data to this autocomplete
if params.include? "autocomplete_extra"
	autocomplete_extra = params["autocomplete_extra"]
	autocomplete_extra_class = "autocomplete_extra"
	# If there is a value here we disable it, only new tags are allowed to add values
	# This is a bit different from subfield_secondary where it is never editable
	disabled_by_autocomplete = (marc_subfield.content && !marc_subfield.content.empty?) ? "disabled=\"disabled\"".html_safe : ""
end

%>

<div data-autocomplete-values="<%= autocomplete_data_or_path.is_a?(String) ? autocomplete_data_or_path : autocomplete_data_or_path.to_json %>"></div>

<%- if (params['width']==100 || params['growfield'])  %>
	<textarea rows="1" cols="100" class="subfield_entry serialize_marc inline-autocomplete marc_editor_hotkey <%=validate_class%> <%=validate_marker%> <%=autocomplete_extra_class%>" data-tag="<%=tag_name%>" data-subfield="<%=subfield%>" data-validate-level="<%=validate_level%>" <%=disabled_by_autocomplete%> data-autocomplete-extra="<%=autocomplete_extra%>" rows="1" <%=name_tag%> ><%= h marc_subfield.content %></textarea>
<%- else %>
	<input class="subfield_entry serialize_marc inline-autocomplete marc_editor_hotkey <%=validate_class%> <%=validate_marker%> <%=autocomplete_extra_class%>" size="100" type="text" data-tag="<%=tag_name%>" data-subfield="<%=subfield%>" data-validate-level="<%=validate_level%>" <%=disabled_by_autocomplete%> data-autocomplete-extra="<%=autocomplete_extra%>" value="<%= h marc_subfield.content %>" <%=name_tag%> />
<%- end %>
