<nav id="header-navbar" class="navbar navbar-expand-md navbar-dark navbar-inverse topbar" role="navigation">
  <div class="<%= container_classes %>">

    <div class="mb-0">
      <div class="slogan">
        <a href="/">
          <div class="d-none d-md-block">
            <span class="slogan-top"><%= RISM::PROJECTLINE.html_safe %></span><br />
            <span class="slogan-bottom"><%= RISM::STRAPLINE.html_safe %></span>
          </div>
          <div class="d-md-none">
            <img src="/images/logo3.png">
          </div>
        </a>
      </div>
    </div>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <ul class="navbar-nav">
        <%- RISM::MENUS.each do |m| %>
        <li class="nav-item">
          <%= link_to t(m[0]), m[1], class: 'nav-link' %>
        </li>
        <%- end %>
      </ul>
    </div>

  </div>
</nav>
<% if request.path != "/advanced" %>
<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="col-md-3 hidden-sm hidden-xs search-navbar-logo">
      <img src="/images/logo-large-<%= RISM::BASE %>.png">
    </div>
    <div class="col-md-9 search-navbar-right">
      <div class="search-navbar-locale pull-right">
        <%- RISM::LOCALES.each do |l| %> 
        <a href="?locale=<%= l[0] -%>"><%= l[1].html_safe -%></a>
        <%- end %>
      </div>
      <div class="search-navbar-text">
        <%= render_search_bar  %>
      </div>
    </div>
  </div>
</div>
<% elsif %>
<div id="search-navbar" class="navbar navbar-default navbar-static-top advanced" role="navigation">
  <div class="container"> 
    <div class="col-md-12 search-navbar-right">
      <div class="search-navbar-locale pull-right">
        <%- RISM::LOCALES.each do |l| %>
        <a href="?locale=<%= l[0] -%>"><%= l[1].html_safe -%></a>
        <%- end %>
      </div>
    </div>
  </div>
</div>
<% end %>