<link type="text/css" rel="StyleSheet" href="assets/active_admin_for_public.css"/>
<div id="main_content">
  <div class="table_tools">
    <ul class="table_tools_segmented_control">
      <% if !@prev_item && !@next_item %>
        <li class="scope">
          <a href="/works" class="table_tools_button">Back to the list</a>
        </li>
      <% else %>
        <li class="scope">
          <% if @prev_item %>
            <a href="/works/<%= @prev_item.id %>" class="table_tools_button">Previous</a>
          <% else %>
            <a class="table_tools_button disabled">Previous</a>
          <% end %>
        </li>
        <li class="scope">
          <a href="/works" class="table_tools_button">Back to the list</a>
        </li>
        <li class="scope">
          <% if @next_item %>
            <a href="/works/<%= @next_item.id %>" class="table_tools_button">Next</a>
          <% else %>
            <a class="table_tools_button disabled">Next</a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<hr>
<%-
  # if these two parameters do not exist, make them false as default
  opac_resolved = opac rescue opac_resolved = false
  holdings_resolved = holdings rescue holdings_resolved = false
  layout_config = @editor_profile.layout_config
-%>

<% layout_config["group_order"].each do |group_name|
  group_config = layout_config["groups"][group_name]
  group = {
    :title => @editor_profile.get_label(group_name),
    :tags => group_config["all_tags"],
    :tag_templates => group_config["all_tag_templates"],
    :subfield_grouping => group_config["subfield_grouping"],
    :ungrouped_tags => group_config["ungrouped_tags"]
  }   -%>

  <% next if group_config["admin_only"] && !(current_user && current_user.has_any_role?(:editor, :admin)) %>
  <% next if group_config["admin_only"] && opac_resolved %>

  <%= render :partial => (group_config["template"] && !@diff ? group_config["template"] : "marc/show_group"),
             :locals => {
                 :item => @item,
                 :group => group,
                 :opac => opac_resolved,
                 :holdings => holdings_resolved} %>

<%- end -%>

<% if @item.class == Source && @item.holdings.count > 0 %>
  <% if opac_resolved %>
    <%= render :partial => "holdings/show_opac_holdings" %>
  <% else %>
    <%= render :partial => "holdings/show_holdings", :locals => {opac: opac_resolved} %>
  <% end %>
<% end %>

<% if !opac_resolved %>
  <div class="panel_group_space"></div>
<% end %>

<% if !@diff && opac_resolved && !holdings_resolved %>

  <%= render :partial => "marc_show/show_iiif",
             :locals => {
                 :item => @item,
                 :opac => opac_resolved} %>

<% end %>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>


<div class="muscat_panel panel">
  <h3>Sources referring to this Work</h3>
  <div class="panel_contents">
    <div class="paginated_collection">
      <div class="paginated_collection_contents">
        <table border="0" cellspacing="0" cellpadding="0">
          <thead>
          <tr>
            <th class="col col-id">id</th>
            <th class="col col-composer">Composer</th>
            <th class="col col-standardized_title">Standardized title</th>
            <th class="col col-title">Title</th>
            <th class="col col-library_siglum">Library siglum</th>
            <th class="col col-shelfmark">Shelfmark</th>
            <th class="col"></th>
          </tr>
          </thead>
          <tbody>

          <% @all_sources.each_with_index do |each_source, i| %>
            <tr class="odd" id="source_1000002355">
              <td class="col col-id"><%= each_source['id'] %></td>
              <td class="col col-composer"><%= each_source['composer'] %></td>
              <td class="col col-standardized_title"><%= each_source['std_title'] %></td>
              <td class="col col-title"><%= each_source['title'] %></td>
              <td class="col col-library_siglum"><%= each_source['lib_siglum'] %></td>
              <td class="col col-shelfmark"><%= each_source['shelf_mark'] %></td>
              <td class="col"><a href="/catalog/<%= each_source['id'] %>">View</a></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div id="index_footer">
        <div class="pagination_information">Displaying <b>all <%=@all_sources.count %></b> Sources</div>
      </div>
    </div>
  </div>
</div>

<div id="main_content">
  <div class="table_tools">
    <ul class="table_tools_segmented_control">
      <% if !@prev_item && !@next_item %>
        <li class="scope">
          <a href="/works" class="table_tools_button">Back to the list</a>
        </li>
      <% else %>
        <li class="scope">
          <% if @prev_item %>
            <a href="/works/<%= @prev_item.id %>" class="table_tools_button">Previous</a>
          <% else %>
            <a class="table_tools_button disabled">Previous</a>
          <% end %>
        </li>
        <li class="scope">
          <a href="/works" class="table_tools_button">Back to the list</a>
        </li>
        <li class="scope">
          <% if @next_item %>
            <a href="/works/<%= @next_item.id %>" class="table_tools_button">Next</a>
          <% else %>
            <a class="table_tools_button disabled">Next</a>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

