<%
	id = document.first(:id)
	pae = document.first(:pae_texts)
	query_str = id.gsub("Incipit ", "")
	image_render_div = "incipit_#{id.gsub(' ', '').gsub('.', '')}"
%>
<% doc_presenter = index_presenter(document) %> 
<%# default partial to display solr document fields in catalog index view -%>
<dl class="document-metadata dl-horizontal dl-invert">

  <% index_fields(document).each do |field_name, field| -%>
    <% if should_render_index_field? document, field %>
	    <dt class="blacklight-<%= field_name.parameterize %>"><%= render_index_field_label document, field: field_name %></dt>
	    <dd class="blacklight-<%= field_name.parameterize %>"><%= doc_presenter.field_value field_name %></dd>
    <% end -%>
  <% end -%>

</dl>

<table><tr class="row">
<td style="text-align:center;vertical-align:middle">
	<%= link_to incipits_path(search_field: :id, q: query_str), {class: "btn btn-default search-btn", onclick: "block_match();", style: "display: none"} do %>
	        <span class="glyphicon glyphicon-search"></span>
	<%end%>
</td>

<td>
	<div id="<%= image_render_div %>" class="inline">
		<span><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Rendering Incipit...</span>
	</div>
</td>



</tr></table>

<script>
	pae = <%=pae.to_json.html_safe%>
	render_music(pae, 'pae', $("#" + "<%=image_render_div%>"));
</script>