<h3>Modification report for <%=@total_results%> items(s)</h3>
<p>

<% @results.each do |model, criterias| %>
	<% criterias.each do |criteria, items| %>

		<b><%=items.count%> <%=model%>(s) matched the pattern:</b> <code><%=criteria%></code><br>
		<% count = 1 %>
		<% items.each do |item| %>

			<%if @total_results < 100 %>
			<div style="padding-top: 5px">
			<%end%>
				<p style="font-family:arial; font-size:12px;">
				<strong><%=count%></strong>&nbsp;
				<%if item.is_a? Source %>
					<%composer = !item.composer.empty? ? item.composer : "n.a."%>
					<%title = !item.std_title.empty? ? item.std_title : "none"%>
					<a href="https://muscat.rism.info/admin/sources/<%=item.id%>"><%=item.id%></a> (<%= I18n.t('record_types_codes.' + (item.record_type != nil ? item.record_type.to_s : ""))%>), <b><%=composer%>:</b> <i><%=title%></i> [created: <%=item.created_at%>, modified: <%=item.updated_at%>]

				<%elsif item.is_a? Institution %>
					<a href="https://muscat.rism.info/admin/institutions/<%=item.id%>"><%=item.id%></a>, <%=item.siglum%>, <%=item.name%> [created: <%=item.created_at%>, modified: <%=item.updated_at%>]
				<%else%>
					<a href="https://muscat.rism.info/admin/works/<%=item.id%>"><%=item.id%></a>, <%=item.title%> [created: <%=item.created_at%>, modified: <%=item.updated_at%>]
				<%end%>
				</p>

			<%if @total_results < 100 %>
				<%= render partial: "diff_record", locals: { :item => item } %>
			</div>
			<%end %>

			<% count += 1 %>
		<% end %>

		<p>
	<%end%>
<%end%>

