<h3>Modification report for <%= @total_results %> item(s)</h3>

<% @results.each do |model, criterias| %>
  <% criterias.each do |criteria, items| %>
    <p>
      <b><%= items.count %> <%= model %>(s) matched the pattern:</b>
      <code><%= criteria %></code>
    </p>

    <% items.each_with_index do |item, index| %>
      <div>
        <p style="font-family: arial; font-size: 12px;">
          <strong><%= index + 1 %></strong>&nbsp;
          <%= render_modification_item(item) %>
        </p>
      </div>
    <% end %>
  <% end %>
<% end %>