<link type="text/css" rel="StyleSheet" href="assets/active_admin_for_public.css" />
<div style="margin:1em;">
  <div style="float:right; margin-top: -1em; margin-left: 1em;">
    Displaying <%= page_entries_info(@works) %> entries.
  </div>
  <div>
    <div class="pagination" style="margin-top:-2.8em !important;">
      <!--    <div class="col-sm-8" style="float:left; display:inline-flex; margin-top: -1.4em;">-->
      <div >
        <ul class="pagination">
          <!--      <li class="disabled"> <%#= will_paginate(@works,:previous_label => '&laquo; Previous', :next_label => "Next &raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %></li>-->
          <li class="disabled"> <%= will_paginate(@works,:previous_label => '&laquo; Previous ', :next_label => " Next &raquo;",:class=>"",:outer_window => 1,:inner_window => 0) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<h2>Works</h2>
<div>
  <% @works.each_with_index  do |each_work, i |%>
    <div>
        <h5 style="font-size:16px; padding-bottom:0.5em !important; margin-top: 0.5em !important;">
        <% if each_work.wf_stage == "published" %>
          <span><%= i.next %>.</span> <a href="/work/<%= each_work.id %>"><%= each_work.title %></a>
        </h5>
            <% if @no_of_sources[each_work.id] %>
              <span style="margin-left:1.8em;float:left; margin-top: -2em;">Sources: <%= @no_of_sources[each_work.id] %></span>
            <%end %>
          <% end %>
        </div>
    <hr>
  <%end %>
</div>


<!--  <p>Next:<%#= path_to_next_page @works %></p><hr>-->
<!--  <p>Previous:<%#= path_to_prev_page @works %></p><hr>-->

<!--  <p>Page Entries info:<%#= page_entries_info @works %></p><hr>-->
<!--  <p><%#= @works%></p>-->
<!--</div>-->
<!--</div>-->

<!--<div class="pagination">-->
<!--  <ul class="pagination">-->
<!--    <li>-->
<!--      <a rel="next" href="/catalog?page=3&amp;q=&amp;search_field=any_field">Next &raquo;</a>-->
<!--    </li>-->

<!--    <li class="">-->
<!--      <a rel="prev" href="/catalog?page=1&amp;q=&amp;search_field=any_field">1</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->

  <div style="margin:1em;">
    <div style="float:right; margin-top: -1em; margin-left: 1em;">
      Displaying <%= page_entries_info(@works) %> entries.
    </div>
    <div>
      <div class="pagination" style="margin-top:-2.8em !important;">
        <!--    <div class="col-sm-8" style="float:left; display:inline-flex; margin-top: -1.4em;">-->
        <div >
          <ul class="pagination">
            <!--      <li class="disabled"> <%#= will_paginate(@works,:previous_label => '&laquo; Previous', :next_label => "Next &raquo;",:class=>"small-font",:outer_window => 1,:inner_window => 0) %></li>-->
            <li class="disabled"> <%= will_paginate(@works,:previous_label => '&laquo; Previous ', :next_label => " Next &raquo;",:class=>"",:outer_window => 1,:inner_window => 0) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
