<%-
	model = self.resource_class.to_s.underscore.downcase
	delete_path = send("admin_#{model}_path", item)
	edit_path = send("edit_admin_#{model}_path", item)
	save_form = "edit_#{model}"
	index_path = send("collection_path", item)
	new_path = send("new_admin_#{model}_path")
	
	name = "[Model does not have a label]"
	name = item.name if item.respond_to?(:name)
	name = item.autocomplete_label if item.respond_to?(:autocomplete_label)
%>
<ul>
	<%- if  !is_selection_mode? %>
		<%- if can? :create, item %>
			<li class="muscat_icon_link"><a href="<%= new_path %>" class="muscat_icon_link muscat_icon_link_new"><%=(I18n.t :new)%></a></li>
		<%- end %>
		<li class="muscat_icon_link"><a href="<%= index_path %>" class="muscat_icon_link muscat_icon_link_list"><%=(I18n.t :to_the_list)%></a></li>	
		<li class="muscat_icon_separator"></li>
	
		<%- if can? :edit, item %>
			<li class="muscat_icon_link"><a href="<%= edit_path %>" class="muscat_icon_link muscat_icon_link_edit"><%=(I18n.t :edit)%></a></li>
		<%- end %>
		<%- if can? :destroy, item %>
			<li class="muscat_icon_link">
			<%= link_to("#{I18n.t :delete}", delete_path,
				:class => "muscat_icon_link muscat_icon_link_delete",
				:method => :delete,
				data: { confirm: "#{I18n.t :history_delete_confirm}"}) %>
			</li>
		<%- end %>
	<%- else %>
		<li class="muscat_icon_link">
		<%= link_to("#{I18n.t :select}", "#",
			:class => "muscat_icon_link muscat_icon_link_save_exit",
			:data => { :marc_editor_select => item.id, :marc_editor_label => name }) %>
		</li>
		<li class="muscat_icon_link"><a href="<%= index_path %>" class="muscat_icon_link muscat_icon_link_list"><%=(I18n.t :to_the_list)%></a></li>	
	<%- end %>
</ul>
