<% define_attributes_for_section_sidebar_folder_actions(item) %>

<ul><li class="muscat_icon_separator"></li></ul>&nbsp;

<div class="panel_contents">
Folder actions for this item

<% if @folders_with_this_item.any? %>
    <ul>
        <% select_options = @folders_with_this_item.sort_by{ |f| f.name.downcase }.map{ |f| [f.name, f.id] } %>
            <%= form_tag send("remove_item_from_folder_admin_#{@model_underscore_downcase}_path", item.id), method: 'delete' do %>
		    <li class="muscat_icon_link">
                <%= select_tag :folder_id, options_for_select(select_options), {include_blank: I18n.t(:choose_folder), required: true} %>
            </li>
		    <%= hidden_field_tag "batch_action", "remove_single_from_folder" %>
		    <li class="muscat_icon_link">
                <%= submit_tag I18n.t :remove_item_from_folder %>
            </li>
        <% end %>
	
    </ul>
<% end %>

<% if @folders_without_this_item.any? %>
    <ul>
        <% select_options = @folders_without_this_item.sort_by{ |f| f.name.downcase }.map{ |f| [f.name, f.id] } %>
        <%= form_tag send("add_item_to_folder_admin_#{@model_underscore_downcase}_path"), method: 'post' do %>
            <li class="muscat_icon_link">
                <%= select_tag :folder_id, options_for_select(select_options), {include_blank: I18n.t(:choose_folder), required: true} %>
            </li>
            <%= hidden_field_tag :model, item.class.to_s %>
            <%= hidden_field_tag :item_id, item.id %>
            <li class="muscat_icon_link">
                <%= submit_tag I18n.t :add_item_to_folder %>
            </li>
        <% end %>
    </ul>
<% end %>
</div>
