<!-- This is the entry for one result in the index -->

<%
# Very basic highlighting
first_match = nil
doc_highlights = @response['highlighting'][document[:id]] rescue doc_highlights = nil
if doc_highlights && doc_highlights.length > 0
	first_match = doc_highlights[doc_highlights.keys.first].first
end
%>

<%# header bar for doc items in index view -%>
<div class="documentHeader row">
    <%# main title container for doc partial view
        How many bootstrap columns need to be reserved
        for bookmarks control depends on size.
    -%>
    <% document_actions = capture do %>
        <% # bookmark functions for items/docs -%>
        <%= render_index_doc_actions document, wrapping_class: "index-document-functions col-sm-3 col-lg-2" %>
    <% end %>

    <div class=" <%= document_actions.present? ? "col-sm-9 col-lg-10" : "col-md-12" %>">
        <table>
    	     <tr>
    		     <td class="seriel_number">
    		         <% if counter = document_counter_with_offset(document_counter) %>
    			     <h5 class="index_title document-title-heading">
    		             <span class="document-counter">
    		                 <%= t('blacklight.search.documents.counter', counter: counter) %>
    		             </span>
                     </h5>
    		         <% end %>
    		      </td>
    		      <td>
    			      <h5 class="index_title document-title-heading left_padding">
    			          <%= presenter(document).field_value("source_composer_field") %>
    		          </h5>
    		      </td>
    	      </tr>
    	      <tr>
    		      <td>&nbsp;</td>
    		      <td>
    			      <%= link_to_document document, presenter(document).field_value('source_title_field'), counter: counter %>
    		      </td>
    	      </tr>
    	      <% if first_match %>
    	      <tr>
    		      <td>&nbsp;</td>
    		      <td>
    			      <%= first_match.html_safe %>
    		      </td>
    	      </tr>
    	      <% end %>
        </table>
    </div>
    <%= document_actions %>
</div>