<% #Using the Bootstrap Pagination class  -%>
<div class='pagination-search-widgets'>
  <% if @search_context[:prev] || @search_context[:next] %>
    <div class="page-links">
      <%= link_to_previous_document @search_context[:prev] %> |

      <%= item_page_entry_info %> |

      <%= link_to_next_document @search_context[:next] %>
    </div>
  <% end %>
  <% if current_search_session %>
    <div class="float-right search-widgets">
	  <%= link_back_to_catalog class: 'btn btn-sm btn-text' %>

      <%=link_to t('blacklight.search.start_over'), start_over_path(current_search_session.try(:query_params) || {}), id: 'startOverLink', class: 'btn btn-sm btn-text' %>

      <%=link_to t('active_admin.edit'), "/admin/sources/#{@document.id.split(" ")[1]}/edit", class: 'btn btn-sm btn-text' %>
    </div>
  <% end %>
</div>
