<div id="blockable_content" class="row">
	<div id="sidebar" class="<%= sidebar_classes %>">
	  <%= render 'search_sidebar' %>
	</div>

	<div id="content" class="<%= main_content_classes %>">
	  <% unless has_search_parameters? %>
	    <%# if there are no input/search related params, display the "home" partial -%>
	    <%= render 'home' %>
	  <% else %>

	    	<%= render :partial => "map/show" %>
	        <%= render 'search_results' %>
	  <% end %>
	</div>
</div>

<script>
I18n.defaultLocale = "<%= I18n.default_locale %>";
I18n.locale = "<%= I18n.locale %>"
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "position": "bottom-left",
  content: {
    message: I18n.t("cookies.message"),
    dismiss: I18n.t("cookies.dimiss"),
    link: I18n.t("cookies.link"),
    href: 'https://www.aboutcookies.org/',
  }
})});
</script>

