<script type="text/javascript" language="javascript" src="/javascripts/Saxonce/Saxonce.nocache.js"></script>
<script type="text/javascript" language="javascript" src="/javascripts/verovio-toolkit.js"></script>

        <div class="col-md-9">    
            <h3><%= t('mei.title', :source => @item.id)%></h3>
            
            <hr/>
            
            <h4 id="mei-preview-text"><%= t('mei.banner')%></h4>
            <div id="mei-html-output">
            </div>
            <pre id="mei-output" class="prettyprint">
            </pre>
        </div>
    
        <div class="col-sm-12 col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="panel-title"><%= t('mei.parameters')%></h3>
                </div>
                <div class="card-body">
                
                    <label for="sel1"><%= t('mei.format')%></label>
                    <select class="form-control" id="mei-output-format" onclick="setRegenerateMei();">
                      <option value="mei"><%= t('mei.format_mei')%></option>
                      <option value="pae"><%= t('mei.format_pae')%></option>
                    </select>

                    <hr/>

                    <label for="exampleInputFile"><%= t('mei.stylesheet')%></label>
                    <div class="radio">
                        <label><input type="radio" name="radio-xsls" checked="checked" onclick="setUseDefaultStylesheet();"><%= t('mei.default_stylesheet')%></label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="radio-xsls" onclick="setUseCustomStylesheet();"><%= t('mei.custom_stylesheet')%></label>
                    </div>
                    <input type="file" id="mei-select-file" disabled="disabled" accept=".xsl,.xml"/>

                    <hr/>

                    <div  style="text-align: right">
                        <button onclick="previewMeiFile(<%=@item.id%>)" class="btn btn-secondary btn-sm">
                            <span class="fa fa-search"></span> <%= t('mei.preview')%>
                        </button>
                        <button onclick="downloadMeiFile(<%=@item.id%>)" class="btn btn-secondary btn-sm" id="form-reset">
                            <span class="fa fa-download"></span> <%= t('mei.download')%>
                        </button>
                    </div>
                </div>
            </div>

            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title"><%= t('mei.more')%></h3>
                </div>
                <div class="card-body">
                    <%= render "mei_more" %>
                </div>
            </div>
            
        </div>


<script type="text/javascript">
    document.getElementById('mei-select-file').addEventListener('change', readSingleFile, false);
</script>