<%
    rails_model = @item.class.to_s.pluralize.downcase
%>

<!-- place holders -->
<div class="marc_flashes"></div>
<div id="marc_errors" class="flash flash_error" style="visibility: hidden;"></div>
<div id="dialog"></div>
<div id="spacer" style="min-width: 700px; min-height: 1px"></div>
<div id="marc_editor_preview" class="panel-hidable"></div>
<div id="marc_editor_help" class="panel-hidable"></div>


<%= render :partial => "editor/item_form", :locals => { :render_panel => "marc_editor_panel", :model => rails_model } -%>

<% if PaperTrail.request.enabled_for_model?(@item.class) %>
	<%= render :partial => "editor/versions" -%>
<% end %>

<% if @item.class.respond_to?("get_viaf")%>
  <%= render :partial => "editor/viaf_form" %>
<% end %>



<script type="text/javascript">

	// Make sure the locale gets loaded
	I18n.defaultLocale = "<%= I18n.default_locale %>";
	I18n.locale = "<%= I18n.locale %>";

	marc_editor_init_tags($('#marc_editor_panel'));
	
<% if @editor_validation %>
	validation_conf = <%= raw JSON.dump(EditorValidation.get_default_validation(@item).rules) -%>;
	marc_editor_init_validation($('#marc_editor_form_marc_editor_panel'), validation_conf);
<%end%>
	$.ajax;
		
</script>

