<%- 
	tag_names = Array.new		
	tag_names = @editor_profile.layout_config["groups"][group]["all_tags"]
	group_title = @editor_profile.get_label(group)
	@editor_profile.layout_config[:marc_editor_group_links] << group_title
-%>

<%- if @editor_profile.layout_config["groups"][group]["subfield_grouping"] %>

	<%- subfield = @editor_profile.layout_config["groups"][group]["subfield_grouping"] %>
	<div class="tab_panel" name="<%= group_title.gsub(/ /, "_") %>">
		<%= render :partial => "editor/group_by_subfield", 
				:locals => { :tag_names => tag_names, :subfield => subfield, :group_title => group_title } %>
	</div>
	
	<%- tags_with_no_subfield = @item.marc.by_tags_with_subtag(tag_names, subfield, "") %>
	<%- tags_with_no_subfield = tags_with_no_subfield.select{ |t| !@editor_profile.layout_tags_not_in_subfield_grouping.include? t.tag } %>
	
	<%- if tags_with_no_subfield.size > 0 %>
		<%- group_title = @editor_profile.get_label("unmatched") %>
		<%- @editor_profile.layout_config[:marc_editor_missing_group_links] = group_title -%>
		<div class="panel tab_panel" name="<%= group_title.gsub(/ /, "_") %>">
			<div class="editor-flash" data-flash="<%=I18n.t(:unknown_tags)%>" data-type="warning"></div>
			<h3><%= group_title -%></h3>
			<div class="marc_editor_panel_content">
				<div class="marc_editor_group_contents">
					<%- tags_with_no_subfield.map(&:tag).uniq.each do |tag_name| -%>
						<div class="tag_group" data-tag="<%= tag_name %>">
							<%= render :partial => "editor/tag_list", 
									:locals => { :tag_name => tag_name, :tags => tags_with_no_subfield.select{ |t| t.tag == tag_name } } %>
						</div>
					<%- end -%>
				</div>	
			</div>
		</div>
	<%- end %>
	
<%- else %>

<div class="panel tab_panel" name="<%= group_title.gsub(/ /, "_") %>">
	<h3><%= group_title -%></h3>
	<div class="marc_editor_panel_content">
		<div class="marc_editor_group_contents">
			<%- tag_names.each do |tag_name| -%>
				<div class="tag_group" data-tag="<%= tag_name %>">
					<%= render :partial => "editor/tag_list", 
							:locals => { :tag_name => tag_name, :tags => @item.marc.by_tags([tag_name])  } %>
				</div>
			<%- end -%>
		</div>	
	</div>
</div>

<%- end %>
