<!-- 
group
	tag_list
		tag_div
			tag_header
			tag
-->
<%- 
	### temporary, must probably be moved into the editor_profile model
	tag_names = Array.new
	if group == "other"
		@editor_profile.each_tag_not_in_layout @item do |tag|
			tag_names << tag
		end
		# Do not render anything if nothing needs to go in other
		return if tag_names.empty?
	else
	#	if group != "group_order"
			tag_names = @editor_profile.layout_config["groups"][group]["all_tags"]
	#	end
	end
	####
-%>

<%- 
	group_title = @editor_profile.get_label(group)
	@editor_profile.layout_config[:marc_editor_group_links] << group_title
-%>

<div class="panel tab_panel" name="<%= group_title.gsub(/ /, "_") %>">
	<h3><%= group_title -%></h3>
	
	<div class="marc_editor_panel_content">
		<div class="marc_editor_group_contents">
			<%- tag_names.each do |tag_name| -%>
				<div class="tag_group" data-tag="<%= tag_name %>">
					<%= render :partial => @editor_profile.get_tag_partial("tag_list",tag_name), 
							:locals => { :tag_name => tag_name } %>
					<%= render :partial => "editor/tag_placeholders", 
							:locals => { :tag_name => tag_name } %>
				</div>
			<%- end -%>
		</div>	
	</div>
</div>
