<%-
    # Build the back to index path function
    model = self.resource_class.to_s.underscore.downcase
    models = model.pluralize
    cancel_path = ""
    if @item.id != nil
		if @item.is_a?(Holding) && defined? @parent_object_id
			cancel_path = edit_admin_source_path(@parent_object_id)
		else
			cancel_path = send("admin_#{model}_path", @item)
		end

    else
		if @item.is_a?(Holding) 
			if defined? @parent_object_id
				cancel_path = edit_admin_source_path(@parent_object_id)
			else
				edit_admin_sources_path
			end
		else
			cancel_path = send("admin_#{models}_path")
		end
    end
	help_title = @editor_profile.get_label("doc_edit_functions")
%>
<ul>
	
<%- @editor_profile.layout_config[:marc_editor_group_links].each do |gl| -%>
	<li><a data-scroll-target="<%= gl.gsub(/ /, "_") -%>" data-panel="marc_editor_panel" href="#"><%= gl -%></a></li>
<%- end -%>


<% if @holdings && @holdings.count > 0%>
	<li><a data-scroll-target="Holding_Records" data-panel="marc_editor_panel" href="#"><%=I18n.t(:holding_records)%></a></li>
<%end%>

<%- if !@editor_profile.layout_config[:marc_editor_missing_group_links].empty? -%>
	<%- missing_group_link = @editor_profile.layout_config[:marc_editor_missing_group_links] %>
	<li><a data-scroll-target="<%= missing_group_link.gsub(/ /, "_") -%>" data-panel="marc_editor_panel" href="#"><%= missing_group_link -%></a></li>
<%- end -%>

<%- if !@editor_profile.layout_config[:marc_editor_unknown_tag_links].empty? -%>
	<%- missing_group_link = @editor_profile.layout_config[:marc_editor_unknown_tag_links] %>
	<li><a data-scroll-target="<%= missing_group_link.gsub(/ /, "_") -%>" data-panel="marc_editor_panel" href="#"><%= missing_group_link -%></a></li>
<%- end -%>

	<li class="muscat_icon_separator"></li>
	<li class="muscat_icon_link">
		<a data-scroll-target="show_toplevel" data-panel="marc_editor_panel" href="#" class="muscat_icon_link muscat_icon_link_all"><%=(I18n.t :show_all_groups)%></a>
	</li>
	<li class="muscat_icon_link" id="show_preview_li">
		<a data-scroll-target="show_preview" data-panel="marc_editor_preview" href="#" class="muscat_icon_link muscat_icon_link_preview"><%=(I18n.t :show_preview)%></a>
	</li>
	<li class="muscat_icon_link" id="hide_preview_li" hidden>
		<a data-scroll-target="hide_preview" data-panel="marc_editor_panel" href="#" class="muscat_icon_link muscat_icon_link_preview_hide" hidden="true"><%=(I18n.t :hide_preview)%></a>
	</li>
	
<% if @item.class.respond_to?("get_viaf") %>
	<li class="muscat_icon_separator"></li>
	<li class="muscat_icon_link">
		<a id="viaf-sidebar" href="#" class="muscat_icon_link muscat_icon_link_viaf"><%= (I18n.t :show_viaf)%></a>
	</li>
<% end %>

<%if @item.id && @item.respond_to?(:allow_holding?) && @item.allow_holding? %>
	<li class="muscat_icon_separator"></li>
	<li class="muscat_icon_link">
		<%= link_to("#{I18n.t :new_holding}", new_admin_holding_path(source_id: @item.id),
			:class => "muscat_icon_link muscat_icon_link_new") %>
	</li>
<%end%>	
	
	<li class="muscat_icon_separator"></li>
	<li class="muscat_icon_link" id="validation_override_container" hidden>
		<input class="creation_checkbox" type="checkbox" id="validation_override_checkbox"/>
		<span id="validation_override_label" style="color:red">Override Validation and Save</span>
	</li>
	<li class="muscat_icon_link" id="validation_errors" hidden>
		<span style="color:red"><%= I18n.t(:validation_level_error)%></span>
	</li>
	<li class="muscat_icon_link" id="validation_warnings" hidden>
		<span style="color:orange"><%= I18n.t(:validation_level_warning)%></span>
	</li>
	<li class="muscat_icon_link">
		<a data-scroll-target="action" data-action="save" href="#" class="muscat_icon_link muscat_icon_link_save"><%=(I18n.t :save_and_continue)%></a>
	</li>
	<li class="muscat_icon_link">
		<a data-scroll-target="action" data-action="exit" href="#" class="muscat_icon_link muscat_icon_link_save_exit"><%=(I18n.t :save_and_exit)%></a>
	</li>
	
	<li class="muscat_icon_separator"></li>
	<li class="muscat_icon_link">
		<a href="<%= cancel_path %>" class="muscat_icon_link muscat_icon_link_cancel"><%=(I18n.t :cancel)%></a>
	</li>
	<li class="muscat_icon_link">
		<a data-scroll-target="show_toplevel" data-panel="marc_editor_history" href="#" class="muscat_icon_link muscat_icon_link_history"><%=(I18n.t :show_history)%></a>
	</li>

<% if @item.respond_to?("digital_objects") %>
	<li class="muscat_icon_link">
		<%= link_to("#{I18n.t :new_digital_object}", new_admin_digital_object_path(object_link_id: @item.id, object_link_type: @item.class),
			:class => "muscat_icon_link muscat_icon_link_picture") %>
	</li>
<% end %>

	<li class="muscat_icon_separator"></li>
	<li class="muscat_icon_link">
		<a data-scroll-target="show_help" data-panel="marc_editor_help" data-help="edit_functions" data-help-title="<%= help_title -%>" href="#" class="muscat_icon_link muscat_icon_link_help"><%= help_title -%></a></li>

</ul>

