<%-
	# Build the back to index path function
	model = self.resource_class.to_s.underscore.downcase
    models = model.pluralize
    item = self.instance_variable_get("@" + model)
    cancel_path = ""
    save_form = ""
	delete_path = send("admin_#{model}_path", item)
    if item.id != nil
      edit_path = send("edit_admin_#{model}_path", item)
      save_form = "edit_#{model}"
    end
%>
<ul>
	<li class="muscat_icon_link"><a href="<%= edit_path %>" class="muscat_icon_link muscat_icon_link_new"><%=(I18n.t :cancel)%></a></li>
	<li class="muscat_icon_link"><a data-scroll-target="show_toplevel" data-panel="marc_editor_history" href="#" data-save-form="<%= save_form  %>" class="muscat_icon_link muscat_icon_link_save_exit"><%=(I18n.t :save_and_exit)%></a></li>
	<li class="muscat_icon_link">
		<a class="muscat_icon_link muscat_icon_link_edit" data-confirm="Sei sicuro di volerlo rimuovere?" data-method="delete" href="<%= delete_path %>" rel="nofollow">Rimuovi Festa liturgica
		</a>
	</li>
	<li class="muscat_icon_link">
		<%= link_to("#{I18n.t :history_delete}", delete_path,
			:class => "muscat_icon_link muscat_icon_link_cancel",
			:method => :delete,
			data: { confirm: "#{I18n.t :history_delete_confirm}"}) %>
	</li>
</ul>
