<% function = is_new ? "new" : "edit" %>
<% style_hide = is_new ? "style=\"display: none\"".html_safe : "style=\"display: block\"".html_safe %>

<div class="tag_container" data-tag="<%= tag_name %>" data-function="<%= function %>" <%= style_hide -%>>
    <%= render :partial => "editor/tag_header", 
        :locals => { :tag_name => tag_name, :is_new => is_new, :empty_header => false  } %>

    <div class="tag_content_collapsable">
        <%= render :partial => @editor_profile.get_tag_partial("tag", tag_name),
            :locals => { :tag_name => tag_name, :marc_tag => marc_tag, :is_new => is_new  } %>
    </div>
    
</div>