<%
# Get the restore path
# a bit complex since the model is dynamic
	model_for_path = @item.class.to_s.underscore.downcase
	link_function = "marc_restore_version_admin_#{model_for_path}_path"
%>

<div id="marc_editor_history" class="panel-hidable" style="display: none">
	<strong>Old versions</strong>
	<table border="0" cellspacing="0" cellpadding="0" class="index_table index" >
		<tr>
			<th>Date</th>
			<th>Author</th>
			<th>Event</th>
			<th></th>
		</tr>
		<%- i = 0 %>
		<%- @item.versions.each do |version| %>
			<% restore_path =  send(link_function, @item.id, {version_id: version.id}) %>
			
			<tr class="<%= cycle('even', 'odd') -%>" id="person_50036437">
				<td class="col"><%= I18n.localize(version.created_at.localtime, :format => '%A %e %B %Y - %H:%M') -%></td>
				<td class="col"><%= version.whodunnit ? version.whodunnit : "[system]" %></td>
				<td class="col"><%= version.event ? version.event.humanize : "[unknown]" %></td>
				<td class="col col-actions">
					<div class="table_actions">
						<!-- testing hardcoded values -->
						<% model = @item.class.model_name.route_key %>
						<a class="view_link member_link marc_versioning" data-model="<%= model %>" data-version="<%= version.id %>" href="#">View</a>
						<a class="edit_link member_link" href="#">Diff</a>
						<%= link_to("Restore", restore_path, method: :put, data: { confirm: "Do you want to restore this version?"}) %>

					</div>
				</td>
			</tr>
			<%- i += 1 %>
		<%- end -%>
	</table>
	
	<div id="marc_editor_historic_view"></div>
	
</div>