<%
tag_name = params[:tag_name]
render_panel = params[:marc_editor_dest]
group = params[:group]
iterator = params[:iterator]
new_tag = MarcNode.new 
%>

// temporary div and replace it with the new content
$('#<%= render_panel %>_tag_list_<%= tag_name %>').append('<div id=\"add_tag_tmp\"></div>');
  
$('#add_tag_tmp').replaceWith("<%= escape_javascript(render(:partial => 'editor/tag_dt', :locals => { :render_panel => render_panel, :group => group, :tag_name => tag_name, :marc_tag => new_tag, :iterator => iterator }))%>");


// make sure the tag_div is visible
$('#<%=render_panel%>_tag_div_<%=tag_name%>').show();
// make sure the tag_list is visible
marc_editor_toggle( $('#<%=render_panel%>_tag_list_<%=tag_name%>'), 1 );

// reset tag
marc_editor_reset_tag_div( $('#<%=render_panel%>_tag_div_<%=tag_name%>') );
