<%
tag_name = params[:tag_name]
render_panel = params[:pe_dest]
group = params[:group]
iterator = params[:iterator]
s_iterator = params[:s_iterator]
new_tag = MarcNode.new 
new_subfield = MarcNode.new
%>

// temporary div and replace it with the new content
$('#<%=render_panel%>_subfield_<%=tag_name%>-<%=iterator%>-<%=@column[0]%>').append('<div id=\"add_tag_tmp\"></div>');

<%

div_data = escape_javascript(render(:partial => 'editor/subfield_li', :locals => { :column => @column, :render_panel => render_panel, :group => group, 
			:iterator => iterator, :marc_tag => new_tag, :tag_name => tag_name, 
			:s_iterator => s_iterator, :marc_subfield => new_subfield }))

%>
 
$('#add_tag_tmp').replaceWith("<%=div_data%>")

// reset tag
pe_reset_tag_div( $('#<%=render_panel%>_tag_div_<%=tag_name%>') );	
