
<div class="header-actions" style="margin-bottom: 1em;">
  <%= link_to "← #{I18n.t :go_back}", edit_resource_path(resource), class: "button" %>
</div>

<p>
  <%= t('inventory_items_show_count_html', count: @inventory_items.count) %>
</p>

<div class="panel tab_panel" data-inventory-item-sortable-table>

<table id="inventory-table" class="index_table list_striped">
    <thead>
        <th><%= I18n.t :index %></th>
        <th><%= I18n.t :old_index %></th>
        <th>ID</th>
        <th>773$g</th>
        <th><%= I18n.t :filter_composer %></th>
        <th><%= I18n.t :filter_title %></th>
        <th class="controls-col"><%= I18n.t :controls %></th>
    <tbody>
    <% @inventory_items.each_with_index do |ii, idx| %>

        <tr class="inv-row" data-row-id="<%= ii.id %>">
            <td class="inv-index"><%= idx + 1 %></td>
            <td class="inv-orig-idx"><%= ii.source_order + 1 %></td>
            <td class="inv-id"><%= link_to(ii.id, admin_inventory_item_path(ii)) %></td>
            <td class="inv-pageinfo"><%= ii.page_info %></td>
            <td class="inv-composer"><%= ii.composer %></td>
            <td><%= ii.title %></td>
            <td class="reorder-cells">
                <button type="button" class="reorder-btn move-up"   aria-label="Move up one">↑ <%= I18n.t :move_up %></button>
                <button type="button" class="reorder-btn move-down" aria-label="Move down one">↓ <%= I18n.t :move_down %></button>
                &nbsp;|&nbsp;
                 <button type="button" class="reorder-btn goto"  data-action="goto"  aria-label="Move to position"><%= I18n.t :move_to %>: </button>
                <input
                type="number"
                class="reorder-input"
                min="1"
                max="<%= @inventory_items.size %>"
                value="<%= idx + 1 %>"
                aria-label="Target position"
                data-input-for="<%= ii.id %>"
                />
                <!--
                <button type="button" class="reorder-btn before" data-action="before" aria-label="Move before position">↑ Before</button>
                <button type="button" class="reorder-btn after"  data-action="after"  aria-label="Move after position">↓ After</button>
                -->
            </td>
        </tr>
    <%end%>
    </tbody>
</table>

</div>

<!-- Hidden form that will be submitted (non-AJAX) -->
<form id="commit-form"
      action="/admin/sources/<%= resource.id %>/do_reorder_inventory_items"
      method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="items" id="commit-items">
</form>

<button
  type="button"
  id="commit"
  class="button commit-order"
  data-source-id="<%= resource.id %>"
  data-target="#inventory-table"><%= I18n.t :commit %></button>