<%- templates = EditorConfiguration.get_profile_templates("source") %>

<div class="panel">
  <h3><%="#{I18n.t(:available_templates)}" %></h3>
	<div class="panel_contents">
		<div class="attributes_table">
			<table border="0" cellpadding="0" cellspacing="0">
				<% templates.each do |value, name|%>
				<%
				# Make sure we display only the file types we can edit
				template_name = value.sub(/[^_]*_/,"")
				trecord_type = MarcSource::RECORD_TYPES[template_name.to_sym]
				
				if (trecord_type == MarcSource::RECORD_TYPES[:edition] ||
						trecord_type == MarcSource::RECORD_TYPES[:edition_content] ||
						trecord_type == MarcSource::RECORD_TYPES[:libretto_edition_content] ||
						trecord_type == MarcSource::RECORD_TYPES[:theoretica_edition_content]) &&
						cannot?(:create_editions, Source)
					next
				end %>
				<tr class="row">
					<td><%= link_to("#{I18n.t('record_types.' + name)}", new_resource_path(:new_type => value)) %></td>
				</tr>
				<%end%>
			</table>
		</div>
	</div>
</div>

<%= form_tag(new_resource_path, {method: "get", :class => 'filter_form'}) do %>
<div class="panel">
  <h3><%="#{I18n.t(:from_existing_source)}"%></h3>
	<div class="panel_contents">
	    <div class="form-group">
	      <input name="existing_title" size="20" type="text"/>
	    </div>
	  </div>

		<div class="buttons">
        <%= submit_tag("#{I18n.t(:create_from_existing)}") %>
		</div>
	</div>
</div>
<%end%>
