<strong>Muscat Model Health report: <%= @model%></strong><p>
Message: <%= @message %>
<p>

<table border="1">
	<tr>
		<th>ID</th>
		<th>Message</th>
	</tr>
<% @errors.each do |id, msg| %>
	<tr>
		<td><a href="https://muscat.rism.info/admin/sources/<%=id%>"><%=id%></a></td>
		<td><%=msg.gsub("\n", "<br>").html_safe%></td>
	</tr>
<% end %>
</table>

<p>
  
<%@validations.each do |id, errors|%>
<b>Validation Result for: <a href="https://muscat.rism.info/admin/sources/<%=id%>"><%=id%></a></b>
  <table>
  <% errors.each do |tag, subtags| %>
    <% subtags.each do |subtag, messages|  %>
      <% messages.each do |message|  %>
      <tr>
        <td><strong><%= tag %></strong></td>
        <td><%= subtag %></td>
        <td><i><%= message %></i></td>
      </tr>
      <% end %>
    <% end %>
  <% end %>
  </table>
<% end %>

<p>

<%@foreign_tag_errors.each do |ferror|%>
  <%=ferror%><br>
<%end%>